/*-------------------------------------------------*\
 *  General
 *-------------------------------------------------*/
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-weight: 200;
    color:#fc543e;
    font-size: 48px;
}
h2{
    color:#444;
    font-size: 24px;
}
p, li{
    font-size: 16px;
    color: #999;
}
hr{
    margin:5px 0;
}
a,
a:hover{
    color:#fc543e;
}
/*-------------------------------------------------*\
 *  Misc UI
 *-------------------------------------------------*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{
 outline:0 !important;
 box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
  border-color:#fc543e;
}

.btn,
.btn:focus{
    background-image:none;
    outline: none;
    box-shadow:none !important;
}

.btn-primary{
    background: #fc543e;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #ec442e;
}
/*-------------------------------------------------*\
 *  Header
 *-------------------------------------------------*/
header{
    padding : 20px 0 20px;
}

header #logo span.baseline{
    display: block;
    margin:-16px 0 0 70px;
    font-size: 15px;
    color: #999;
}

header .focus{
    background: #2d2d2d;
    padding:20px 0;
}


menu ul{
    margin-top:50px;
    list-style-type: none;
    text-align: right;
}

menu ul li{
    display: inline;
}

menu ul li .btn{
    font-size: 16px;
}
menu ul li .btn.btn-link{
    color:#999;
}

/*-------------------------------------------------*\
 *  Focus
 *-------------------------------------------------*/

.focus h1{
    color:#fff;
}
.focus h2{
    color:#fc543e;
}
/*-------------------------------------------------*\
 *  section
 *-------------------------------------------------*/
section{
    padding : 20px 0 30px;
}
section .title_icon{
    margin: -5px 8px 0 -8px;
}

section p{
    text-align: justify;
}
/*-------------------------------------------------*\
 *  Footer
 *-------------------------------------------------*/
footer{
    background-color: #2d2d2d;
    padding : 40px 0 50px;
}
footer h1{
    color:#fff;
}
footer h2{
    color:#fc543e;
}
