/*-------------------------------------------------*\
 *  Dropzone
 *-------------------------------------------------*/
.dropzone{
    width: 950px;
    height: 450px;
    border: 3px dashed rgba(255,255,255,0.2);
    border-radius: 4px;
    margin: 0 auto;

    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -ms-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}
.dropzone.in{
    border: 3px dashed rgba(255,255,255,0.9);
}
#animation {
    width: 940px;
    height: 440px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
/*-------------------------------------------------*\
 *  Foreground
 *-------------------------------------------------*/
/* Drop */
.drop {
    position: absolute;
    margin: 120px 350px;
    width: 200px;
    text-align: center;
}
.drop h4 {
    margin-top: 10px;
    font-size: 20px;
    color: #dcdacb;
}
.uploading .drop {
    -webkit-animation: exitdrop 0.3s ease-in forwards;
    -moz-animation: exitdrop 0.3s ease-in forwards;
    -o-animation: exitdrop 0.3s ease-in forwards;
    animation: exitdrop 0.3s ease-in forwards;
}
@-webkit-keyframes exitdrop {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity : 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        opacity : 0;
    }
}
@keyframes exitdrop {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity : 1;
    }
    100% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        opacity : 0;
    }
}
/* Airplane */
.airplane {
    position: absolute;
    margin: 300px 350px;
    opacity: 0;
    width: 200px;
    text-align: center;
}
.airplane h4 {
    margin-top: 10px;
    font-size: 20px;
    color: #276f87;
}
.uploading .airplane {
    -webkit-animation: launchairplane 2s ease-in-out forwards;
    -moz-animation: launchairplane 2s ease-in-out forwards;
    -o-animation: launchairplane 2s ease-in-out forwards;
    animation: launchairplane 2s ease-in-out forwards;
}
@-webkit-keyframes launchairplane {
    0% {margin-top: 200px; opacity: 0;}
    66% { opacity: 1;}
    100% {margin-top: 120px;opacity: 1;}
}
@keyframes launchairplane {
    0% {margin-top: 200px; opacity: 0;}
    66% { opacity: 1;}
    100% {margin-top: 120px;opacity: 1;}
}
.finished .airplane {
    -webkit-animation: exitairplane 0.5s ease-in-out forwards;
    -moz-animation: exitairplane 0.5s ease-in-out forwards;
    -o-animation: exitairplane 0.5s ease-in-out forwards;
    animation: exitairplane 0.5s ease-in-out forwards;
}
@-webkit-keyframes exitairplane {
    0% {margin-top: 120px; opacity: 1;}
    100% {margin-top: 0px;opacity: 0;}
}
@keyframes exitairplane {
    0% {margin-top: 120px; opacity: 1;}
    100% {margin-top: 0px;opacity: 0;}
}
/* parachute */
.parachute {
    position: absolute;
    margin: 50px 350px;
    width: 200px;
    text-align: center;
    opacity: 0;
}
.parachute input{
    margin-top : 20px;
    height:30px;
    font-size: 19px;
}
.finished .parachute {
    -webkit-animation:1s enterparachute 0.3s ease-in-out forwards;
    -moz-animation:1s enterparachute 0.3s ease-in-out forwards;
    -o-animation:1s enterparachute 0.3s ease-in-out forwards;
    animation:1s enterparachute 0.3s ease-in-out forwards;
}
@-webkit-keyframes enterparachute {
    0% {margin-top: 0px;}
    100% {margin-top: 50px;opacity: 1;}
}
@keyframes enterparachute {
    0% {margin-top: 0px;}
    100% {margin-top: 50px;opacity: 1;}
}
/*-------------------------------------------------*\
 *  Landscape
 *-------------------------------------------------*/
.trees,
.houses,
.city { margin-top: -500px;position: absolute}
/* Trees */
.uploading .trees {
    -webkit-animation: gotowardsky 1s ease-in-out forwards;
    -moz-animation: gotowardsky 1s ease-in-out forwards;
    -o-animation: gotowardsky 1s ease-in-out forwards;
    animation: gotowardsky 1s ease-in-out forwards;
}
.finished .trees {
    -webkit-animation: gotowardearth 16s ease-in-out forwards;
    -moz-animation: gotowardearth 16s ease-in-out forwards;
    -o-animation: gotowardearth 16s ease-in-out forwards;
    animation: gotowardearth 16s ease-in-out forwards;
}
/* Houses */
.uploading .houses {
    -webkit-animation: gotowardsky 1.4s ease-in-out forwards;
    -moz-animation: gotowardsky 1.4s ease-in-out forwards;
    -o-animation: gotowardsky 1.4s ease-in-out forwards;
    animation: gotowardsky 1.4s ease-in-out forwards;
}
.finished .houses {
    -webkit-animation: gotowardearth 14s ease-in-out forwards;
    -moz-animation: gotowardearth 14s ease-in-out forwards;
    -o-animation: gotowardearth 14s ease-in-out forwards;
    animation: gotowardearth 14s ease-in-out forwards;
}
/* City */
.uploading .city {
    -webkit-animation: gotowardsky 2s ease-in-out forwards;
    -moz-animation: gotowardsky 2s ease-in-out forwards;
    -o-animation: gotowardsky 2s ease-in-out forwards;
    animation: gotowardsky 2s ease-in-out forwards;
}
.finished .city {
    -webkit-animation: gotowardearth 12s ease-in-out forwards;
    -moz-animation: gotowardearth 12s ease-in-out forwards;
    -o-animation: gotowardearth 12s ease-in-out forwards;
    animation: gotowardearth 12s ease-in-out forwards;
}
@-webkit-keyframes gotowardsky {
    0% { margin-top: -500px }
    100% { margin-top: 0px }
}
@keyframes gotowardsky {
    0% { margin-top: -500px }
    100% { margin-top: 0px }
}
@-webkit-keyframes gotowardearth {
    0% { margin-top: 0px }
    100% { margin-top: -500px }
}
@keyframes gotowardearth {
    0% { margin-top: 0px }
    100% { margin-top: -500px }
}