!!!
html

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title dploy - fast app deployment
        meta(name="description", content="")


        link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
        link(rel="shortcut icon", href="ico/favicon.png")

        link(rel="stylesheet", href="styles/bootstrap.css")

        //build:css styles/main.css
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/dploy.css")
        link(rel="stylesheet", href="styles/dropzone.css")
        //endbuild

    body(ng-app="dployApp")

        //if lt IE 7
            p.chromeframe You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
                today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
                experience this site.</p>

        //if lt IE 9
            script(src="components/es5-shim/es5-shim.min.js")
            script(src="components/json3/lib/json3.min.js")


        div(ng-view)

        script(src="components/jquery/jquery.min.js")
        script(src="components/angular/angular.min.js")
        script(src="components/bootstrap-js/bootstrap.min.js")


        //build:js scripts/scripts.js
        script(src="scripts/app.js")
        script(src="scripts/controllers/main.js")
        script(src="scripts/controllers/install.js")
        script(src="scripts/directives/dployUpload.js")
        script(src="scripts/services/dployUpload.js")
        script(src="scripts/services/dployApi.js")
        script(src="scripts/controllers/list.js")
        //endbuild

        script
            angular.module('dployApp').
                constant('apiUrl', '#{apiUrl}').
                constant('staticUrl', '#{staticUrl}');

