html
    header
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width")

    body
        a(href="itms-services://?action=download-manifest&url=http://idol.mobizel.com/install/idol-3-0.plist") Install iDol 3-0
