doctype xml
doctype plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"
plist(version="1.0")
    dict
        key items
        array
            dict
                key assets
                array
                    dict
                        key kind
                        string software-package
                        key url
                        string http://dploy.it/#{hash}.ipa
                key metadata
                dict
                    key bundle-identifier
                    string com.dolmentech.idol3
                    key bundle-version
                    string 1.0
                    key kind
                    string software
                    key title
                    string idol-3-0
