<header>
    <div class="container-fluid">
      <h1>{{hash}}</h1>
      <h2>Version 1.0</h2>
  </div>
</header>

<section>
    <div class="container-fluid centered">
      <a class="btn btn-extralarge"
               ng-href="itms-services://?action=download-manifest&url=http://dploy.plop.io/{{hash}}.plist">Install application</a>
  </div>
</section>

<section id="infos">
    <div class="container-fluid">
      <table  class="table table-condensed">
        <tbody>
          <tr>
            <td>Minimum OS</td>
            <th>5.1</th>
        </tr>
        <tr>
            <td>Build file size</td>
            <th>2.8 MB</th>
        </tr>
        <tr>
            <td>Bundle id</td>
            <th>com.awesome.app</th>
        </tr>
        <tr>
            <td>Device family</td>
            <th>iPhone, iPad</th>
        </tr>
        <tr>
            <td>Profile expiration</td>
            <th>12/08/2014</th>
        </tr>
        <tr>
            <td>Upload date</td>
            <th>20/02/2013</th>
        </tr>
    </tbody>
</table>
</div>
</section>

<footer>
    <div class="container-fluid">
      <img src="./images/logo.png" width="60"/>
  </div>
</footer>

<link rel="stylesheet" href="styles/dploy_mobile.css"/>