<header ng-include="'views/common/header.html'">
</header>

<header>

    <div class="focus">
        <div class="dropzone">
            <div id="animation">
                <img class="img city" src="img/landscape/1_city.jpg"/>
                <img class="img houses" src="img/landscape/2_houses.png"/>
                <img class="img trees" src="img/landscape/3_trees.png"/>

                <div class="airplane">
                    <img src="img/icon_airplane.png"/>
                    <h4>Uploading...</h4>
                </div>

                <div class="drop">
                    <img src="img/icon_drop.png"/>
                    <h4>Drop you file here </h4>
                </div>
            </div>
        </div>
    </div>

</header>

<div class="container fixed">
    <section>
        <h1>Testing made easy</h1>
        <br/>
        <div class="row">
            <div class="span4">
                <h2><img class="title_icon" src="img/icon_upload.png"/>Upload</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="span4">
                <h2><img class="title_icon" src="img/icon_share.png"/>Share</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            </div>
            <div class="span4">
                <h2><img class="title_icon" src="img/icon_test.png"/>Test</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <h1>Our offers</h1>
        <br/>
        <div class="row">
            <div class="span4">
                <img src="./img/placeholder.png" />
                <h2>Pro basic</h2>
                <p>Donec sed odio dui.<br/>
                    Cras justo odio<br/>
                    dapibus ac facilisis in.</p>
                <p><a>15€ per month</a></p>
            </div>
            <div class="span4">
                <img src="./img/placeholder.png" />
                <h2>Pro advanced</h2>
                <p>Donec sed odio dui.<br/>
                    Cras justo odio<br/>
                    dapibus ac facilisis in.</p>
                <p><a>25€ per month</a></p>
            </div>
            <div class="span4">
                <img src="./img/placeholder.png" />
                <h2>Corporate</h2>
                <p>Donec sed odio dui.<br/>
                    Cras justo odio<br/>
                    dapibus ac facilisis in.</p>
                <p><a>Contact us</a></p>
            </div>
        </div>
    </section>

</div> <!-- /container -->

<footer ng-include="'views/common/footer.html'">
</footer>