<div class="container fixed">
    <div class="row">
        <div class="span4">
            <h1>About</h1>
            <h2>Subtitle</h2>
            <ul>
                <li>Donec sed odio </li>
                <li>Euismod semper</li>
                <li>Donec sed odio dui. Cras justo odio, dapibus ac facilisis</li>
            </ul>
        </div>
        <div class="span4">
            <h1>&nbsp;</h1>
            <h2>Subtitle</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in.
            <ul>
                <li>Donec sed odio </li>
                <li>Euismod semper</li>
            </ul>
            </p>
        </div>
        <div class="span4">
            <h1>Contact us</h1>
            <h2>Subtitle</h2>
            <p>Email us at <a href="">contact@dploy.io</a><br/>
                Follow us on twitter <a href="">@dploy</a></p>
            <p>&copy; 2013 <a href="">www.dploy.io</a></p>
        </div>
    </div>
</div>