<div class="container fixed">
    <div class="row">
        <div id="logo" class="span4">
            <img src="img/logo.png" width="219px" height="120px"/>
            <span class="baseline">Fast beta app deployment</span>
        </div>
        <ul id="menu" class="span8">
            <li><a class="btn btn-primary" href="#">Subscribe</a></li>
            <li><a class="btn btn-link" href="#/test">Offers</a></li>
            <li><a class="btn btn-link">About</a></li>
            <li><a class="btn btn-link">Contact</a></li>
        </ul>
    </div>
    <br/>
</div>