
!!!
head
    meta(charset='utf-8')
    title dploy - fast app deployment
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(name='description',content='')
    meta(name='author',content='')
    link(href='./styles/bootstrap.css',rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600',rel='stylesheet',type='text/css')
    link(href='./styles/dploy_mobile.css',rel='stylesheet')
    link(rel='shortcut icon',href='./ico/favicon.png')
body
    header
        div.container-fluid
            h1 My Awesome App
            h2 Version 1.0
    section
        div.container-fluid.centered
            a.btn.btn-extralarge(href='#') Install application
    section#infos
        div.container-fluid
            table.table.table-condensed
                tbody
                    tr
                        td Minimum OS
                        th 5.1
                    tr
                        td Build file size
                        th 2.8 MB
                    tr
                        td Bundle id
                        th com.awesome.app
                    tr
                        td Device family
                        th iPhone, iPad
                    tr
                        td Profile expiration
                        th 12/08/2014
                    tr
                        td Upload date
                        th 20/02/2013
    footer
        div.container-fluid
            img(src='./images/logo.png',width='60')